<div ng-hide="tagFilter || omniBox || !sortable" class="todo-list-item-options todo-list-item-options-sortable">
  <i class="icon-list"></i>
</div>

<a ng-click="toggleDone(todo)" class="todo-list-item-tick">
  <i ng-hide="todo.done" class="icon-box"></i>
  <i ng-show="todo.done" class="icon-box-checked"></i>
</a>



<a ng-click="toggleStar(todo)" ng-hide="todo.done" class="todo-list-item-star">
  <i ng-hide="todo.starred" class="icon-star-false"></i>
  <i ng-show="todo.starred" class="icon-star-true"></i>
</a>

<div class="todo-list-item-text todo-list-item-text-{{todo.done}}">

  <span ng-show="todo.dueDate && !todo.done" class="label label-default" ng-init="duedate = relativeDueDate(todo.dueDate)" ng-class="{'label-danger': duedate <= 1}" ng-pluralize="" count="duedate" when="{0: 'Overdue',1: 'Today','2': 'Tomorrow','other': '{} days'}">
  </span>

  <a ng-click="showTodo(todo)" class="todo-list-item-text-link">
    {{stripHashTags(todo.text)}}
  </a>

  <a ng-hide="todo.done" ng-click="changeTagFilter(tag)" class="tag-filter-item" ng-repeat="tag in tags(todo)">
    {{tag}}
  </a>

  <a ng-show="showCategory" ng-init="category = getCategoryByID(todo.category);" ng-click="showList(category);" class="todo-list-item-category">{{category.label}} <i class="icon-right"></i></a>

</div>

<a ng-hide="todo.done || !todo.description" ng-click="showTodo(todo)" class="todo-list-item-options"><i class="icon-note"></i></a>

<a ng-click="deleteTodo(todo.UUID)" class="todo-list-item-options todo-list-item-options-delete"><i class="icon-delete"></i></a>