<div ng-mouseleave="showListAddForm = false; toggleListNavigation('hide');">
  <div class="list-nav-title-bar">

    <a class="list-nav-title-bar-link" ng-click="showListAddForm = false; toggleListNavigation(false);">
       <i class="icon-cancel"></i>
    </a>
    <a class="list-nav-title-bar-link pull-left" ng-click="showListAddForm=!showListAddForm">
      <i class="icon-plus"></i>New List
    </a>


  </div>

  <form ng-init="showListAddForm=false;" name="addListForm" ng-show="showListAddForm" class="list-nav-add-list-form" ng-submit="showListAddForm=''; createList(listInput); ">
    <div class="input-group">
      <input type="text" ng-model="listInput" placeholder="Create a new list..." class="form-control" required="">
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-disabled="!addListForm.$valid" type="submit">Create</button>
      </span>
    </div>
    <div class="list-nav-add-list-form-close">
      <a ng-click="showListAddForm=!showListAddForm">
        <i class="icon-up"></i> Close Panel
      </a>
    </div>
  </form>

  <div class="list-nav-item-container">

    <div ng-show="lists.length > 0" ui-sortable="sortableOptionsLists" ng-model="lists" class="list-nav-sortable-container">

      <a ng-click="selectList(list);switchMode('list')" class="list-nav-item" ng-class="{active: currentList.id == list.id && currentMode == 'list'}" ng-repeat="list in lists">
        <i class="icon-list list-nav-item-handle pull-right"></i>
        <span ng-show="list.tasks.length > 0" class="list-nav-item-counter pull-right">{{list.tasks.length}}</span>
        {{list.label}}
      </a>
    </div>
  </div>

</div>