<a ng-click="toggleDone(task)" class="task-list-item-tick done-{{task.done}}">
  <span> </span>
</a>



<a ng-click="toggleStar(task)" ng-hide="task.done" class="task-list-item-star">
  <i ng-hide="task.starred" class="icon-star-false"></i>
  <i ng-show="task.starred" class="icon-star-true"></i>
</a>

<div class="task-list-item-text task-list-item-text-{{task.done}}">

  <span ng-show="task.dueDate && !task.done" class="label label-default" ng-class="{'label-danger': relativeDueDate(task.dueDate) <= 1}" ng-pluralize="" count="relativeDueDate(task.dueDate)" offset="1" when="{0: 'Overdue',1: 'Today','2': 'Tomorrow','other': '{} days'}">
  </span>

  <a ng-click="showTask(task)" class="task-list-item-text-link">
    {{stripHashTags(task.text)}}
  </a>

  <a ng-show="!task.done && !tagsDontLink" ng-click="changeTagFilter(tag)" class="tag-filter-item" ng-repeat="tag in tags(task)">
    {{tag}}
  </a>

  <div ng-show="!task.done && tagsDontLink" class="tag-filter-item" ng-repeat="tag in tags(task)">
    {{tag}}
  </div>

  <a ng-if="showTasksList" ng-click="showList(getListByID(task.list));" class="task-list-item-list">{{getListByID(task.list).label}} <i class="icon-right"></i></a>

</div>

<a ng-hide="task.done || !task.description" ng-click="showTodo(task)" class="task-list-item-options"><i class="icon-note"></i></a>

<a ng-click="deleteTask(task)" class="task-list-item-options task-list-item-options-delete"><i class="icon-delete"></i></a>

<div ng-hide="tagFilter || omniBox || !sortable" class="task-list-item-options task-list-item-options-sortable">
  <i class="icon-list"></i>
</div>