<div class="container">
  <div class="row navigation">
    <div class="col-sm-4 col-xs-3">
      <div class="navigation-logo">
        Focus <span>BETA</span>
      </div>
    </div>
    <div class="col-sm-4 col-xs-3">
      <a ng-click="logout()" class="pull-right">Logout</a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <div class="input-group">
        <span class="input-group-addon icon-search"></span>
        <input type="text" ng-model="searchTerm" placeholder="Search tasks..." class="">
      </div>
    </div>
  </div>
</div>


<!-- tasks view (lists, today and all) -->
<div class="container" ng-show="!currentTask && !searchTerm">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div ng-class="{hidenavigation: showNavigation == false}">
        <div ng-include="'views/partiallistnavigation.html'"></div>
      </div>

      <!-- Small screen only navigation to show the navigation -->
      <div class="mobile-back-button" ng-hide="showNavigation">
        <a ng-click="showNavigation = true"><i class="icon-left"></i> Back to all Lists</a>
      </div>
    </div>

    

    <!-- List views -->
    <div class="col-sm-8 col-md-9" ng-if="!today" ng-class="{hidecontent: showNavigation == true}">
      <form name="newTaskForm" ng-submit="createTask(omniBox,currentList); omniBox='';" class="task-list-header">
        <div class="input-group">
          <input type="text" ng-model="omniBox" placeholder="Filter {{currentList.label}} or add a new task..." class="form-control" required="">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-success icon-plus" ng-disabled="!newTaskForm.$valid"></button>
            <a class="btn btn-primary icon-dots" ng-disabled="!newTaskForm.$valid" ng-click="createTask(omniBox,currentList,true); omniBox='';"></a>
          </span>
        </div>
      </form>

      <div class="tag-filter" ng-show="getTags(currentList).length > 0">
        <a ng-click="changeTagFilter()" class="pull-right clear-tag-filter-link" ng-show="tagFilter">X</a>
        <a ng-click="changeTagFilter(tag)" class="tag-filter-item" ng-repeat="tag in getTags(currentList)" ng-class="{active: tagFilter == tag}">
          {{tag}}
        </a>
      </div>

      <div class="blank-slate-message" ng-hide="getListByID(currentList.id).tasks.length > 0">
        There are no tasks in {{currentList.label}}. Start by adding some tasks to this list...
      </div>
      <ul class="task-list" ui-sortable="sortableOptionsTasks" ng-model="getListByID(currentList.id).tasks">
        <li class="task-list-item" ng-repeat="task in getListByID(currentList.id).tasks | filter:{text:omniBox,tagList:tagFilter}">
          <div ng-include="'views/partialtask.html'" ng-init="sortable = true"></div>
        </li>
      </ul>
      <div ng-init="manage=false">
        <div class="manage-list-controls" ng-hide="manage">
          <a ng-click="manage=true">Manage List {{getListByID(currentList.id).label}} <i class="icon-down"></i></a>
        </div>
        <div ng-show="manage" class="manage-list">
          <div class="manage-list-controls">
            <a ng-click="manage=false">Close <i class="icon-up"></i></a>
          </div>
          <div class="form-group" ng-hide="currentList.type == 'system'">
            <label for="listname">List Name</label>
            <input type="text" class="form-control" id="listname" ng-model="getListByID(currentList.id).label">
          </div>
          <div class="form-group">
            <label for="listname" ng-hide="currentList.type == 'system'">Other options</label>
            <div>
              <a ng-click="deleteAll(currentList.id,false);" class="btn btn-warning">Delete all tasks</a> 
              <a ng-hide="lists.length <= 1" ng-click="manage=false;deleteAll(currentList.id,true);" class="btn btn-warning">Delete list</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- List views -->



    <div class="col-sm-8 col-md-9" ng-if="today && !searchTerm" ng-class="{hidecontent: showNavigation == true}">
      <div class="task-list-header">
         Shows starred items and items that are due today or tomorrow.
      </div>

      <div class="blank-slate-message" ng-hide="countTasks(1,allTasks()).today > 0">
        <p>None of your tasks are due or starred right now.</p><p>
      </p></div>

      <div ng-show="countTasks(1,allTasks()).due > 0">

        <div class="task-list-subsection-header">Due today or tomorrow</div>

          <ul class="task-list">
            <li class="task-list-item" ng-repeat="task in allTasks(2) | filter:{done:false} | orderBy:'dueDate':false">
              <div ng-include="'views/partialtask.html'" ng-init="showTasksList = true; tagsDontLink = true;"></div>
            </li>
          </ul>

      </div>

      <div ng-show="countTasks(0,allTasks()).starred > 0">
        <div class="task-list-subsection-header">Starred</div>


        <ul class="task-list">
          <li class="task-list-item" ng-repeat="task in allTasks() | filter:{done:false,starred:true}">
            <div ng-include="'views/partialtask.html'" ng-init="showTasksList = true; tagsDontLink = true;"></div>
          </li>
        </ul>

      </div>


      <div ng-if="countTasks(0,allTasks()).all > 0">
        <!-- iterating over custom lists -->
        <div class="task-list-subsection-header">
          Top task from each list
        </div>


        <div ng-repeat="list in lists" ng-if="list.tasks.length > 0">


          <ul class="task-list">
            <li class="task-list-item" ng-repeat="task in list.tasks | limitTo:1">
              <div ng-include="'views/partialtask.html'" ng-init="showTasksList = true; tagsDontLink = true;"></div>
            </li>
          </ul>

        </div>

      </div>


    </div>
  </div>
</div>

<!-- / List view end-->


<!-- search results view -->

<div class="container" ng-show="searchTerm">
  <div class="row">
    <div class="col-sm-12">
      <div class="task-list-header">
        Search for {{searchTerm}}<a ng-click="searchTerm = '';" class="pull-right">Clear Search</a>
      </div>
      <ul class="task-list" ng-if="searchTerm">
        <li class="task-list-item" ng-repeat="task in allTasks() | filter:searchTerm">
          <div ng-include="'views/partialtask.html'" ng-init="showTasksList = true; tagsDontLink = true;"></div>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- /search results end -->


<!-- task view -->
<div class="container" ng-if="currentTask && !searchTerm">

  <div class="task-list-header">
    <a ng-click="showList(getListByID(currentTask.list));">{{getListByID(currentTask.list).label}}</a> / task
    <a ng-click="showTask();" class="pull-right"><i class="icon-cancel"></i> Close</a>
  </div>

  <form name="taskForm" class="taskForm">

    <div class="row">
      <div class="col-sm-8">

        <div class="form-group">
          <label for="text">Task</label>
          <input id="text" ng-model="getTask(currentTask).text" class="form-control" type="text" required="">
          <span class="help-block">Supports hashtags like #office or #shopping</span>
        </div>
        <p>
          <div class="tag-filter-item" ng-repeat="tag in tags(getTask(currentTask))">
            {{tag}}
          </div>
        </p>
        <div class="form-group">
          <label for="description">Notes</label>
          <textarea id="description" class="form-control" rows="3" ng-model="getTask(currentTask).description"></textarea>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label for="duedate">Due Date</label>
              <div ng-class="{'input-group': getTask(currentTask).dueDate}">
                <input id="duedate" placeholder="e.g. 10/24/2016" class="form-control" ng-model="getTask(currentTask).dueDate" type="text">
                <span class="input-group-btn" ng-show="getTask(currentTask).dueDate">
                  <button class="btn btn-default" ng-click="setDueDate(currentTask)" type="button">Remove</button>
                </span>
              </div>
              <span class="help-block">
                <a ng-click="setDueDate(currentTask,0)">Today</a>,
                <a ng-click="setDueDate(currentTask,1)">Tomorrow</a>, 
                <a ng-click="setDueDate(currentTask,2)">in 2 days</a>, 
                <a ng-click="setDueDate(currentTask,3)">3 days</a>, 
                <a ng-click="setDueDate(currentTask,7)">Next Week</a>, 
                <a ng-click="setDueDate(currentTask,30)">In a month</a> 
                </span>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-4">
        <label>Task List</label>
        <div class="list-group">
          <a class="list-group-item" ng-class="{active: currentTask.list == list.id}" ng-repeat="list in lists" ng-click="moveTaskToList(currentTask,list.id);">
            {{list.label}}
          </a>
        </div>

      </div>

    </div>

  </form>

</div>

<!-- task view end-->