<div class="list-nav listnavanim" ng-show="showListNavigation">
  <div ng-include="'views/partiallistnavigation.html'"></div>
</div>


<div class="title-bar">

  <a class="title-bar-link" ng-mouseenter="toggleListNavigation();" ng-click="toggleListNavigation();">
    <i class="icon-list-section list-nav-item-icon"></i>
    <span class="hiddenwhensmall"> Task Lists</span>
    <i class="icon-right"></i>
  </a>

  <span ng-show="unsavedData" class="saving-message"><span class="loadingSpinner"></span><span class="hiddenwhensmall"> Syncing</span></span>

  <a ng-click="switchMode('options')" class="title-bar-link pull-right"><i class="icon-dots"></i></a>

  <span>
    <a class="title-bar-link pull-right" ng-click="switchMode('search')" ng-class="{active: currentMode == 'search'}" ng-hide="allTasks() == false || allTasks().length == 0">
      <i class="icon-all"></i><span class="hiddenwhensmall"> All Tasks</span>
    </a>

    <a ng-click="switchMode('today')" class="title-bar-link pull-right" ng-class="{active: currentMode == 'today'}">
      <i class="icon-star-false"></i><span class="hiddenwhensmall"> Today</span>
    </a>
  </span>

</div>


<!-- List views -->
<div class="tasks leftpanel" ng-show="currentMode == 'list'">

  <div class="max-width-box">

    <div ng-show="manageList" class="tasks-list-manager">

      
      <form ng-submit="manageList = false; updateListName(currentList,newName);" class="tasks-list-manager-form" name="listNameForm">
        <div class="input-group">
          <input type="text" class="form-control" id="listname" ng-model="newName">
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="updateListName(currentList,newName);" type="button" ng-disabled="!listNameForm.$dirty">Rename List</button>
          </span>
        </div>

      </form>

      <div class="tasks-list-manager-options">
        <span ng-init="deleteList = false; deleteTasks = false" ng-hide="deleteList || deleteTasks">
          <a ng-click="deleteTasks = true" class="tasks-list-manager-options-item">Delete all tasks</a> 
          <a ng-hide="lists.length <= 1" ng-click="deleteList = true" class="tasks-list-manager-options-item">Delete this list</a> 
        </span>
        <span ng-show="deleteTasks">
          Do you really want to delete all tasks?  <a ng-click="deleteTasks = false; manageList = false; deleteAll(currentList.id,false);" class="tasks-list-manager-options-item"><i class="icon-delete"></i> Confirm</a> <a ng-click="deleteTasks = false" class="tasks-list-manager-options-item"><i class="icon-cancel"></i> Cancel</a>
        </span>
        <span ng-show="deleteList">
          Dp you really want to delete this list?  <a ng-click="deleteList = false; manageList = false;deleteAll(currentList.id,true);" class="tasks-list-manager-options-item"><i class="icon-delete"></i> Confirm</a> <a ng-click="deleteList = false" class="tasks-list-manager-options-item"><i class="icon-cancel"></i> Cancel</a>
        </span>
      </div>

      <div class="tasks-list-manager-close">
        <a class="" ng-click="manageList=!manageList">
          <i class="icon-up"></i> Close Panel
        </a>
      </div>

    </div>

    <div>

      <a ng-hide="manageList" ng-click="manageList=!manageList" class="pull-right task-list-edit-list-link">
        <i class="icon-dots-tower"></i>
      </a>
      <h1>{{currentList.label}}</h1>


      <form class="tasks-new-task-form" name="newTaskForm" ng-submit="createTask(omniBox,currentList); omniBox='';">
        <div class="input-group">
          <input type="text" ng-model="omniBox" placeholder="Add a new task to {{currentList.label}}..." class="form-control" required="">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-success" ng-disabled="!newTaskForm.$valid">Add Task</button>
            <!-- 
              <a class="btn btn-primary icon-dots" ng-disabled="!newTaskForm.$valid" ng-click="createTask(omniBox,currentList,true); omniBox='';"></a>
            -->
          </span>
        </div>
      </form>

      <div class="tasks-tag-filter" ng-show="getTags(currentList).length > 0">
        <a ng-click="changeTagFilter()" class="pull-right tasks-clear-tag-filter" ng-show="tagFilter"><i class="icon-cancel"></i></a>
        <a ng-click="changeTagFilter(tag)" class="tag-filter-item-link" ng-repeat="tag in getTags(currentList)" ng-class="{active: tagFilter == tag}">
          {{tag}}
        </a>
      </div>

      <ul class="tasks-list" ui-sortable="sortableOptionsTasks" ng-model="getListByID(currentList.id).tasks">
        <li class="tasks-list-item tasklistitemanim" ng-repeat="task in getListByID(currentList.id).tasks | filter:{text:omniBox,tagList:tagFilter}">
          <div ng-include="'views/partialtask.html'" ng-init="sortable = true"></div>
        </li>
      </ul>

    </div>


  </div>
</div>




<div class="today rightpanel" ng-show="currentMode == 'today'">

  <div class="max-width-box">

    <h1>Today's Tasks</h1>

    <div class="tasks-list-blank-slate-message" ng-hide="countTasks(1,allTasks()).today > 0">
      <p>None of your tasks are due or starred right now.</p><p>
    </p></div>

    <div ng-show="countTasks(2,allTasks(2)).due > 0">
      <div class="today-tasks-list-subsection-header">Due today or tomorrow</div>

        <ul class="tasks-list">
          <li class="tasks-list-item" ng-repeat="task in allTasks(2) | filter:{done:false} | orderBy:'dueDate':false track by task.UUID">
            <div ng-include="'views/partialtask.html'" ng-init="showTasksList = true; tagsDontLink = true;"></div>
          </li>
        </ul>

    </div>

    <div ng-show="countTasks(0,allTasks()).starred > 0">
      <div class="today-tasks-list-subsection-header">Starred</div>


      <ul class="tasks-list">
        <li class="tasks-list-item" ng-repeat="task in allTasks() | filter:{done:false,starred:true} track by task.UUID">
          <div ng-include="'views/partialtask.html'" ng-init="showTasksList = true; tagsDontLink = true;"></div>
        </li>
      </ul>

    </div>


    <div ng-if="countTasks(0,allTasks()).all > 0">
      <!-- iterating over custom lists -->
      <div class="today-tasks-list-subsection-header">
        Top task from each list
      </div>



      <ul class="tasks-list">
        <li class="tasks-list-item" ng-repeat="task in todaysTasks() track by task.UUID">
          <div ng-include="'views/partialtask.html'" ng-init="showTasksList = true; tagsDontLink = true;"></div>
        </li>
      </ul>


    </div>

  </div>
</div>

<!-- / List view end-->


<!-- search results view -->

<div ng-show="currentMode == 'search'" class="search rightpanel">
  <div class="max-width-box">

    <div class="input-group search-input" ng-init="searchTerm = ''">
       <span class="input-group-addon"><i class="icon-search"></i></span>
      <input type="text" ng-model="searchTerm" placeholder="Filter all tasks..." class="form-control">
    </div>


    <div class="tasks-tag-filter" ng-show="getTags().length > 0">
      <a ng-click="changeTagFilter()" class="pull-right tasks-clear-tag-filter" ng-show="tagFilter"><i class="icon-cancel"></i></a>
      <a ng-click="changeTagFilter(tag)" class="tag-filter-item-link" ng-repeat="tag in getTags()" ng-class="{active: tagFilter == tag}">
        {{tag}}
      </a>
    </div>

    <ul class="tasks-list">
      <li class="tasks-list-item" ng-repeat="task in allTasks() | filter:{text:searchTerm,tagList:tagFilter}" ng-hide="!task">
        <div ng-include="'views/partialtask.html'" ng-init="showTasksList = true;"></div>
      </li>
    </ul>
  </div>
</div>


<!-- /search results end -->


<!-- task view -->
<div ng-show="currentTask" class="task taskanim">

  <div class="task-panel">

    <div class="max-width-box">

      <a class="pull-right" ng-click="updateTask(currentTask); showTask(false);" ng-show="currentTask">
        <i class="icon-cancel"></i>
      </a>

      <form name="taskForm" class="task-form" ng-submit="updateTask(currentTask); showTask(false);">

        <div class="form-group">
          <label for="text">Task</label>
          <input id="text" ng-model="currentTask.text" class="form-control" type="text" required="">
          <span class="help-block">Supports hashtags like #office or #shopping</span>
        </div>
        <div class="form-group">
          <label for="description">Notes</label>
          <textarea id="description" rows="3" ng-model="currentTask.description"></textarea>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label for="duedate">Due Date</label>
              <div ng-class="{'input-group': currentTask.dueDate}">
                <input id="duedate" placeholder="e.g. 10/24/2016" class="form-control" ng-model="currentTask.dueDate" type="text">
                <span class="input-group-btn" ng-show="currentTask.dueDate">
                  <button class="btn btn-warning" ng-click="setDueDate(currentTask)" type="button">Remove</button>
                </span>
              </div>
              <span class="help-block">
                <a ng-click="setDueDate(currentTask,0)">Today</a>,
                <a ng-click="setDueDate(currentTask,1)">Tomorrow</a>, 
                <a ng-click="setDueDate(currentTask,2)">In 2 days</a>, 
                <a ng-click="setDueDate(currentTask,3)">In 3 days</a>, 
                <a ng-click="setDueDate(currentTask,7)">Next week</a>, 
                <a ng-click="setDueDate(currentTask,30)">In a month</a> 
                </span>
            </div>
          </div>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Save &amp Close</button>
        </div>

      </form>

    </div>
  </div>
</div>

<!-- task view end-->


<!-- app options view -->

<div ng-show="currentMode == 'options'" class="app-options rightpanel">
  <div class="max-width-box">

    <div ng-show="firebase">
      <h1>Options</h1>
      <p ng-show="firebase">
        <button ng-click="logout()" class="btn btn-primary">Logout</button>
      </p>
    </div>

    <h1>Import &amp Export your Data</h1>
    <p>
      <textarea ng-model="jsonData" rows="10" placeholder="You can import and export raw data dumps of all your tasks and lists here. WARNING: Importing invalid data can corrupt your data. There is no undo!"></textarea>
    </p>
    <p>
      <span ng-hide="confirmInput">
        <a class="pull-right clear-json-data-input-link" ng-show="jsonData" ng-click="jsonData = ''"><i class="icon-cancel"></i> Clear</a>
        <button class="btn btn-primary" ng-click="exportData();"><i class="icon-cloud-download"></i> Export Data</button>
        <button ng-hide="confirmInput" class="btn btn-primary" ng-click="confirmInput=true;"><i class="icon-cloud-upload"></i> Import Data</button>
      </span>
      <span ng-show="confirmInput">
        <button class="btn btn-danger" ng-click="importData(jsonData); jsonData = ''; confirmInput=false;"><i class="icon-cloud-upload"></i> Confirm Data Import</button>
        <button class="btn btn-primary" ng-click="confirmInput=false;"><i class="icon-cloud-upload"></i> Cancel</button>
      </span>
    </p>

    <p class="app-optons-about-text">
      &#169; 2013 <a href="http://simplydo.com" target="new">Simply Do</a>. All rights reserved.
    </p>


  </div>
</div>