<div class="container">
  <div class="row navigation">
    <div class="col-sm-4 col-xs-3">
      <div class="navigation-logo">
        Simply Focus
      </div>
    </div>
    <div class="col-sm-4 col-xs-3">
      <a ng-click="logout()" class="pull-right">Logout</a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <div class="input-group">
        <span class="input-group-addon icon-search"></span>
        <input type="text" ng-model="searchTerm" placeholder="Search todos..." class="">
      </div>
    </div>
  </div>
</div>


<!-- Todos view (lists, today and all) -->
<div class="container" ng-hide="todo || searchTerm">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <div ng-include="'views/_listnavigation.html'"></div>
    </div>

    <!-- List views -->
    <div class="col-sm-8 col-md-9" ng-hide="today">
      <form name="newTodoForm" ng-submit="createTodo(omniBox,categoryFilter); omniBox='';" class="todo-list-header">
        <div class="input-group">
          <input type="text" ng-model="omniBox" placeholder="Filter {{getCategoryLabel(categoryFilter)}} or add a new todo..." class="form-control" required="">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-success icon-plus" ng-disabled="!newTodoForm.$valid"></button>
            <a class="btn btn-primary icon-dots" ng-disabled="!newTodoForm.$valid" ng-click="createTodo(omniBox,categoryFilter,true); omniBox='';"></a>
          </span>
        </div>
      </form>

      <div class="tag-filter" ng-show="getTags(categoryFilter).length > 0">
        <a ng-click="changeTagFilter()" class="pull-right clear-tag-filter-link" ng-show="tagFilter">X</a>
        <a ng-click="changeTagFilter(tag)" class="tag-filter-item" ng-repeat="tag in getTags(categoryFilter)" ng-class="{active: tagFilter == tag}">
          {{tag}}
        </a>
      </div>

      <div class="blank-slate-message" ng-hide="countTodos(0,categoryFilter).all > 0">
        {{getCategoryLabel(categoryFilter)}} is empty. Start by adding some todos to this list...
      </div>
      <ul class="todo-list" ui-sortable="sortableOptions" ng-model="todos">
        <li class="todo-list-item" ng-repeat="todo in todos | filter:{text:omniBox,tagList:tagFilter}" ng-hide="todo.done || todo.category != categoryFilter">
          <div ng-include="'views/_todoitem.html'" ng-init="sortable = true"></div>
        </li>
      </ul>
      <div class="todo-list-subsection-header" ng-show="countTodos(0,categoryFilter).done > 0">
        Recently closed
      </div>
      <ul class="todo-list">
        <li class="todo-list-item" ng-repeat="todo in todos | filter:{done:true,category:categoryFilter} | orderBy:'doneDate':true | limitTo:10">
          <div ng-include="'views/_todoitem.html'" class="todo-list-item-container"></div>
        </li>
      </ul>
      <div ng-init="manage=false">
        <div class="manage-list-controls" ng-hide="manage">
          <a ng-click="manage=true">Manage {{getCategoryLabel(categoryFilter)}} <i class="icon-down"></i></a>
        </div>
        <div ng-show="manage" class="manage-list">
          <div class="manage-list-controls">
            <a ng-click="manage=false">Close <i class="icon-up"></i></a>
          </div>
          <div class="form-group" ng-hide="getCategoryByID(categoryFilter).type == 'system'">
            <label for="listname">List Name</label>
            <input type="text" class="form-control" id="listname" ng-model="getCategoryByID(categoryFilter).label">
          </div>
          <div class="form-group">
            <label for="listname" ng-hide="getCategoryByID(categoryFilter).type == 'system'">Other options</label>
            <div>
              <a ng-click="deleteAll(categoryFilter,false);" class="btn btn-warning">Delete all todos</a> 
              <a ng-hide="getCategoryByID(categoryFilter).type == 'system'" ng-click="manage=false;deleteAll(categoryFilter,true);" class="btn btn-warning">Delete list</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- List views -->



    <div class="col-sm-8 col-md-9" ng-show="today && !searchTerm">
      <div class="todo-list-header">
         Shows starred items and items that are due today or tomorrow. Includes 
          <select class="" ng-init="itemsPerList = 1" ng-model="itemsPerList">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>5</option>
            <option>10</option>
          </select>
          <ng-pluralize count="itemsPerList" when="{'one': 'item','other': 'items'}"></ng-pluralize> from each list.
      </div>


      <div class="tag-filter">
        <a ng-click="changeTagFilter()" class="pull-right clear-tag-filter-link" ng-show="tagFilter">X</a>
        <a ng-click="changeTagFilter(tag)" class="tag-filter-item" ng-repeat="tag in getTags()" ng-class="{active: tagFilter == tag}">
          {{tag}}
        </a>
      </div>

      <div class="blank-slate-message" ng-hide="countTodos(1).starred > 0 || countTodos(1).due > 0">
        <p>None of your todos are due or starred right now.</p><p>
      </p></div>

      <div ng-show="countTodos(1).due > 0">

        <div class="todo-list-subsection-header">Due today or tomorrow</div>

          <ul class="todo-list">
            <li class="todo-list-item" ng-repeat="todo in todos | filter:{done:false,tagList:tagFilter} | orderBy:'dueDate':false" ng-show="relativeDueDate(todo.dueDate) <= 1">
              <div ng-include="'views/_todoitem.html'" ng-init="showCategory = true"></div>
            </li>
          </ul>

      </div>




      <div ng-show="countTodos(1).starred > 0">

        <div class="todo-list-subsection-header">Starred</div>


        <ul class="todo-list">
          <li class="todo-list-item" ng-repeat="todo in todos | filter:{done:false,starred:true,tagList:tagFilter}">
            <div ng-include="'views/_todoitem.html'" ng-init="showCategory = true"></div>
          </li>
        </ul>

      </div>


      <!-- iterating over custom lists -->


      <div ng-hide="itemsPerList == 0" ng-repeat="category in categories" ng-show="countTodos(0,category.id).open > 0">

        <a class="todo-list-subsection-header" ng-click="showList(category.id)">
          {{category.label}} <i class="icon-right"></i>
        </a>

        <ul class="todo-list">
          <li class="todo-list-item" ng-repeat="todo in todos | filter:{done:false,category:category.id,tagList:tagFilter} | limitTo:itemsPerList">
            <div ng-include="'views/_todoitem.html'"></div>
          </li>
        </ul>

      </div>

      <!-- Showing recently closed todos -->


      <div>

        <div class="todo-list-subsection-header" ng-show="countTodos(0).done > 0">
          Recently closed
        </div>

        <ul class="todo-list">
          <li class="todo-list-item" ng-repeat="todo in todos | filter:{done:true} | orderBy:'doneDate':true | limitTo:10">
            <div ng-include="'views/_todoitem.html'"></div>
          </li>
        </ul>

      </div>

    </div>
  </div>
</div>

<!-- / List view end-->


<!-- search results view -->

<div class="container" ng-show="searchTerm">
  <div class="row">
    <div class="col-sm-12">
      <div class="todo-list-header">
        Search for {{searchTerm}}<a ng-click="searchTerm = ''" class="pull-right">Clear Search</a>
      </div>
      <ul class="todo-list">
        <li class="todo-list-item" ng-repeat="todo in todos | filter:searchTerm">
          <div ng-include="'views/_todoitem.html'" ng-init="showCategory = true"></div>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- /search results end -->


<!-- Todo view -->
<div class="container" ng-show="todo && !searchTerm">

  <form name="todoForm" class="todoForm" ng-submit="updateTodo(todo); showTodo();">

    <div class="row">
      <div class="col-sm-8">

        <div class="form-group">
          <label for="text">Text</label>
          <input id="text" ng-model="todo.text" class="form-control" type="text" required="">
          <span class="help-block">Supports hashtags like #office or #shopping</span>
        </div>
        <p>
          <span class="tag-filter-item" ng-repeat="tag in tags(todo)">
            {{tag}}
          </span>
        </p>
        <div class="form-group">
          <label for="description">Notes</label>
          <textarea id="description" class="form-control" rows="3" ng-model="todo.description"></textarea>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label for="duedate">Due Date</label>
              <input id="duedate" placeholder="e.g. 10/24/2016" class="form-control" ng-model="todo.dueDate" type="text">
              <span class="help-block">In: <a ng-click="setDueDate(todo,1)">1 day</a>, <a ng-click="setDueDate(todo,2)">2 days</a>, <a ng-click="setDueDate(todo,3)">3 days</a>, <a ng-click="setDueDate(todo,7)">1 week</a>, <a ng-click="setDueDate(todo,30)">1 month</a> <a ng-show="todo.dueDate" ng-click="setDueDate(todo)">Remove</a></span>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-4">

        <div class="radio" ng-repeat="category in systemCategories.concat(categories)">
          <label>
            <input type="radio" ng-model="todo.category" value="{{category.id}}">
              {{category.label}}
          </label>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-sm-12">

        <input type="submit" id="submit" value="Save Changes" ng-disabled="!todoForm.$valid" class="btn btn-primary">

        <a ng-click="showTodo();" class="btn btn-default">Cancel</a>

      </div>

    </div>
  </form>

</div>

<!-- todo view end-->